<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.sales.KdnOrderMapper" >
  <resultMap id="BaseResultMap" type="entity.sales.KdnOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sales_order_no" property="salesOrderNo" jdbcType="VARCHAR" />
    <result column="logistic_code" property="logisticCode" jdbcType="VARCHAR" />
    <result column="print_template" property="printTemplate" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sales_order_no, logistic_code, print_template, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from public.t_kdniao_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from public.t_kdniao_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.sales.KdnOrder" >
    insert into public.t_kdniao_order (id, sales_order_no, logistic_code,
    print_template, create_date)
    values (#{id,jdbcType=INTEGER}, #{salesOrderNo,jdbcType=VARCHAR}, #{logisticCode,jdbcType=VARCHAR},
    #{printTemplate,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="entity.sales.KdnOrder" >
    insert into public.t_kdniao_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="salesOrderNo != null" >
        sales_order_no,
      </if>
      <if test="logisticCode != null" >
        logistic_code,
      </if>
      <if test="printTemplate != null" >
        print_template,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="salesOrderNo != null" >
        #{salesOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCode != null" >
        #{logisticCode,jdbcType=VARCHAR},
      </if>
      <if test="printTemplate != null" >
        #{printTemplate,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.sales.KdnOrder" >
    update public.t_kdniao_order
    <set >
      <if test="salesOrderNo != null" >
        sales_order_no = #{salesOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="logisticCode != null" >
        logistic_code = #{logisticCode,jdbcType=VARCHAR},
      </if>
      <if test="printTemplate != null" >
        print_template = #{printTemplate,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.sales.KdnOrder" >
    update public.t_kdniao_order
    set sales_order_no = #{salesOrderNo,jdbcType=VARCHAR},
      logistic_code = #{logisticCode,jdbcType=VARCHAR},
      print_template = #{printTemplate,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBySalesOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from t_kdniao_order
    where sales_order_no = #{salesOrderNo}
  </select>

  <select id="countByOrderNo" resultType="int" parameterType="java.lang.String">
    SELECT COUNT(*)
    FROM t_kdniao_order
    where sales_order_no = #{salesOrderNo}
  </select>
</mapper>