<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.sales.LogisticsTracingMapper" >
  <resultMap id="BaseResultMap" type="entity.sales.LogisticsTracing" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="shipper_code" property="shipperCode" jdbcType="VARCHAR" />
    <result column="logistic_code" property="logisticCode" jdbcType="VARCHAR" />
    <result column="accept_time" property="acceptTime" jdbcType="TIMESTAMP" />
    <result column="accept_station" property="acceptStation" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="accept_time_str" property="acceptTimeStr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    id,shipper_code,logistic_code,accept_time,accept_station,remark,to_char(accept_time, 'yyyy-MM-dd HH24:mm:ss') as accept_time_str
  </sql>
  
  <select id="getLogisticsTracings" resultMap="BaseResultMap">
    SELECT
	<include refid="Base_Column_List" />
	FROM
		t_product_sales_logistics_tracing
	<where>
		<if test="logisticCode !=null and logisticCode !=''">
			and logistic_code=#{logisticCode,jdbcType=VARCHAR}
		</if>
	</where>
    order by accept_time desc
  </select>
  
  
  
  <insert id="deleteByShipperCodeAndLogisticCode">
    delete 
    	from t_product_sales_logistics_tracing 
    where 1 = 1
    and
    	shipper_code = #{shipperCode,jdbcType=VARCHAR} 
    and
    	logistic_code = #{logisticCode,jdbcType=VARCHAR}
  </insert>
  
  <insert id="batchInsert" parameterType="java.util.List" >
    <foreach collection="list" item="item" index="index" separator=";" >
      insert into t_product_sales_logistics_tracing (shipper_code, logistic_code, 
      accept_time, accept_station, remark
      )
    values (#{item.shipperCode,jdbcType=VARCHAR}, #{item.logisticCode,jdbcType=VARCHAR}, 
      #{item.acceptTime,jdbcType=TIMESTAMP}, #{item.acceptStation,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  
  <insert id="insert" parameterType="entity.sales.LogisticsTracing" >
    insert into t_product_sales_logistics_tracing (id, shipper_code, logistic_code, 
      accept_time, accept_station, remark
      )
    values (#{id,jdbcType=INTEGER}, #{shipperCode,jdbcType=VARCHAR}, #{logisticCode,jdbcType=VARCHAR}, 
      #{acceptTime,jdbcType=TIMESTAMP}, #{acceptStation,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.sales.LogisticsTracing" >
    insert into t_product_sales_logistics_tracing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shipperCode != null" >
        shipper_code,
      </if>
      <if test="logisticCode != null" >
        logistic_code,
      </if>
      <if test="acceptTime != null" >
        accept_time,
      </if>
      <if test="acceptStation != null" >
        accept_station,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shipperCode != null" >
        #{shipperCode,jdbcType=VARCHAR},
      </if>
      <if test="logisticCode != null" >
        #{logisticCode,jdbcType=VARCHAR},
      </if>
      <if test="acceptTime != null" >
        #{acceptTime,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptStation != null" >
        #{acceptStation,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>