<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.sales.OrderTimeConfigMapper" >
  <resultMap id="BaseResultMap" type="entity.sales.OrderTimeConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_sync" property="isSync" jdbcType="BIT" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="task_type" property="taskType" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_sync, start_time, end_time, update_date, task_type, email, shop_id, order_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order_time_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete 
    from t_order_time_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
   <select id="selectByShopId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order_time_config
   	where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="entity.sales.OrderTimeConfig" >
    insert into t_order_time_config (id, is_sync, start_time, 
      end_time, update_date, task_type, 
      email, shop_id, order_status
      )
    values (#{id,jdbcType=INTEGER}, #{isSync,jdbcType=BIT}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{taskType,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{shopId,jdbcType=INTEGER}, #{orderStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.sales.OrderTimeConfig" >
    insert into t_order_time_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isSync != null" >
        is_sync,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isSync != null" >
        #{isSync,jdbcType=BIT},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.sales.OrderTimeConfig" >
    update t_order_time_config
    <set >
      <if test="isSync != null" >
        is_sync = #{isSync,jdbcType=BIT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="taskType != null" >
        task_type = #{taskType,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByParam" parameterType="entity.sales.OrderTimeConfig" >
    update t_order_time_config
    <set >
      <if test="isSync != null" >
        is_sync = #{isSync,jdbcType=BIT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="taskType != null" >
        task_type = #{taskType,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.sales.OrderTimeConfig" >
    update t_order_time_config
    set is_sync = #{isSync,jdbcType=BIT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      task_type = #{taskType,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>