<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.dismember.AccountOperationRecordMapper" >
  <resultMap id="BaseResultMap" type="entity.dismember.AccountOperationRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="operate_time" property="operateTime" jdbcType="TIMESTAMP" />
    <result column="opdesc" property="opdesc" jdbcType="VARCHAR" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="reduce_mark" property="reduceMark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operator, operate_time, opdesc, account_id, reduce_mark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_account_operate_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByAccountId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_account_operate_record
    where account_id = #{accountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_account_operate_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.dismember.AccountOperationRecord" >
    insert into t_account_operate_record (id, operator, operate_time, 
      opdesc, account_id, reduce_mark)
    values (#{id,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{opdesc,jdbcType=VARCHAR}, #{accountId,jdbcType=INTEGER}, #{reduceMark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.dismember.AccountOperationRecord" >
    insert into t_account_operate_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
      <if test="opdesc != null" >
        opdesc,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="reduceMark != null" >
        reduce_mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opdesc != null" >
        #{opdesc,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="reduceMark != null" >
        #{reduceMark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.dismember.AccountOperationRecord" >
    update t_account_operate_record
    <set >
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opdesc != null" >
        opdesc = #{opdesc,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="reduceMark != null" >
        reduce_mark = #{reduceMark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.dismember.AccountOperationRecord" >
    update t_account_operate_record
    set operator = #{operator,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      opdesc = #{opdesc,jdbcType=VARCHAR},
      reduce_mark = #{reduceMark,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>