<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.dismember.DisProvinceMapper" >
  <resultMap id="BaseResultMap" type="entity.dismember.DisProvince" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, province_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dis_province
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dis_province
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.dismember.DisProvince" >
    insert into t_dis_province (id, province_name)
    values (#{id,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.dismember.DisProvince" >
    insert into t_dis_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.dismember.DisProvince" >
    update t_dis_province
    <set >
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.dismember.DisProvince" >
    update t_dis_province
    set province_name = #{provinceName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllProvinces" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_dis_province
    order by id asc
  </select>
  
  <select id="getProvince" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from t_dis_province
    where province_name like '%'||#{0,jdbcType=VARCHAR}||'%'
    limit 1 offset 0
  </select>
  
   <select id="getChinaArea" parameterType="java.util.Map" resultType="entity.dismember.DisChinaArea">
	SELECT
	  p.id as provinceId,
	  c.id as cityId,
	  a.id as areaId,
	  p.province_name as provinceName,
	  c.city_name as cityName,
	  a.area_name as areaName,
	  c.zip_code as zipCode
	FROM
		t_dis_area a
	LEFT JOIN t_dis_city c ON a.city_id=c.id
	LEFT JOIN t_dis_province p on c.province_id = p.id 
	where 1 =1
	<if test="areaId != null">
        <![CDATA[and a.id > #{areaId,jdbcType=INTEGER}]]>
	</if>
	<if test="smodifydate != null and smodifydate != '' ">
        <![CDATA[and (
        p.create_time >= to_date(''||#{smodifydate}||'','yyyy-mm-dd')
        or c.create_time >= to_date(''||#{smodifydate}||'','yyyy-mm-dd')
        or a.create_time >= to_date(''||#{smodifydate}||'','yyyy-mm-dd')
        )]]>
	</if>
	<if test="emodifydate != null and emodifydate != '' ">
        <![CDATA[and (
        p.create_time < to_date(''||#{emodifydate}||'','yyyy-mm-dd')
        or c.create_time < to_date(''||#{emodifydate}||'','yyyy-mm-dd')
        or a.create_time < to_date(''||#{emodifydate}||'','yyyy-mm-dd')
        )]]>
	</if>
  </select>
</mapper>