<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.dismember.DisRankMapper" >
  <resultMap id="BaseResultMap" type="entity.dismember.DisRank" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rank_name" property="rankName" jdbcType="VARCHAR" />
    <result column="discount" property="discount" jdbcType="INTEGER" />
    <result column="bdefault" property="bdefault" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rank_name, discount, bdefault, create_time, create_user, update_time, update_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dis_rank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dis_rank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.dismember.DisRank" >
    insert into t_dis_rank (id, rank_name, discount, 
      bdefault, create_time, create_user, 
      update_time, update_user)
    values (#{id,jdbcType=INTEGER}, #{rankName,jdbcType=VARCHAR}, #{discount,jdbcType=INTEGER}, 
      #{bdefault,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.dismember.DisRank" >
    insert into t_dis_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rankName != null" >
        rank_name,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="bdefault != null" >
        bdefault,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rankName != null" >
        #{rankName,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="bdefault != null" >
        #{bdefault,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.dismember.DisRank" >
    update t_dis_rank
    <set >
      <if test="rankName != null" >
        rank_name = #{rankName,jdbcType=VARCHAR},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="bdefault != null" >
        bdefault = #{bdefault,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.dismember.DisRank" >
    update t_dis_rank
    set rank_name = #{rankName,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=INTEGER},
      bdefault = #{bdefault,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllRanks" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_dis_rank
  </select>

  <select id="getCountByPage" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*)
    from t_dis_rank
  </select>

  <select id="getRanksByPage" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from t_dis_rank
    where 1 = 1
    <if test="rankName != null">
      and rank_name = #{rankName,jdbcType=VARCHAR}
    </if>
    <if test="discount != null">
      and discount = #{discount,jdbcType=INTEGER}
    </if>
    order by id asc
    <if test="pageSize != null">
      limit #{pageSize,jdbcType=INTEGER} offset #{startNum,jdbcType=INTEGER}
    </if>
  </select>
  
   <select id="getRanksByNameAndDis" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from t_dis_rank
    where
    <if test="id != 0">
	      id != #{id,jdbcType=INTEGER}
	    <if test="rankName != null">
	      and (rank_name = #{rankName,jdbcType=VARCHAR} or discount = #{discount,jdbcType=INTEGER})
	    </if>
    </if>
    <if test="id == 0">
	    discount = #{discount,jdbcType=INTEGER}
    </if>
    order by id asc
  </select>

  <select id="getDefaultRank" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_dis_rank
    where 1 = 1 and bdefault = true
  </select>
</mapper>