<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.dismember.EmailTemplateMapper" >
  <resultMap id="BaseResultMap" type="entity.dismember.EmailTemplate" >
    <id column="iid" property="iid" jdbcType="INTEGER" />
    <result column="ctype" property="ctype" jdbcType="VARCHAR" />
    <result column="ctitle" property="ctitle" jdbcType="VARCHAR" />
    <result column="ccontent" property="ccontent" jdbcType="VARCHAR" />
    <result column="ccreateuser" property="ccreateuser" jdbcType="VARCHAR" />
    <result column="dcreatedate" property="dcreatedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    iid, ctype, ctitle, ccontent, ccreateuser, dcreatedate
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_email_template
    where 1 = 1
      	<if test="ctype != null" >
        	and ctype = #{ctype,jdbcType=VARCHAR}
      	</if>
      	limit 1 offset 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_email_template
    where iid = #{iid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.dismember.EmailTemplate" >
    insert into t_email_template (iid, ctype, ctitle, 
      ccontent, ccreateuser, dcreatedate
      )
    values (#{iid,jdbcType=INTEGER}, #{ctype,jdbcType=VARCHAR}, #{ctitle,jdbcType=VARCHAR}, 
      #{ccontent,jdbcType=VARCHAR}, #{ccreateuser,jdbcType=VARCHAR}, #{dcreatedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.dismember.EmailTemplate" >
    insert into t_email_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iid != null" >
        iid,
      </if>
      <if test="ctype != null" >
        ctype,
      </if>
      <if test="ctitle != null" >
        ctitle,
      </if>
      <if test="ccontent != null" >
        ccontent,
      </if>
      <if test="ccreateuser != null" >
        ccreateuser,
      </if>
      <if test="dcreatedate != null" >
        dcreatedate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="ctype != null" >
        #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="ctitle != null" >
        #{ctitle,jdbcType=VARCHAR},
      </if>
      <if test="ccontent != null" >
        #{ccontent,jdbcType=VARCHAR},
      </if>
      <if test="ccreateuser != null" >
        #{ccreateuser,jdbcType=VARCHAR},
      </if>
      <if test="dcreatedate != null" >
        #{dcreatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.dismember.EmailTemplate" >
    update t_email_template
    <set >
      <if test="ctype != null" >
        ctype = #{ctype,jdbcType=VARCHAR},
      </if>
      <if test="ctitle != null" >
        ctitle = #{ctitle,jdbcType=VARCHAR},
      </if>
      <if test="ccontent != null" >
        ccontent = #{ccontent,jdbcType=VARCHAR},
      </if>
      <if test="ccreateuser != null" >
        ccreateuser = #{ccreateuser,jdbcType=VARCHAR},
      </if>
      <if test="dcreatedate != null" >
        dcreatedate = #{dcreatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where iid = #{iid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.dismember.EmailTemplate" >
    update t_email_template
    set ctype = #{ctype,jdbcType=VARCHAR},
      ctitle = #{ctitle,jdbcType=VARCHAR},
      ccontent = #{ccontent,jdbcType=VARCHAR},
      ccreateuser = #{ccreateuser,jdbcType=VARCHAR},
      dcreatedate = #{dcreatedate,jdbcType=TIMESTAMP}
    where iid = #{iid,jdbcType=INTEGER}
  </update>
</mapper>