<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.dismember.FindPasswordRecordMapper" >
  <resultMap id="BaseResultMap" type="entity.dismember.FindPasswordRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="timeout" property="timeout" jdbcType="INTEGER" />
    <result column="decode" property="decode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="createRecord" parameterType="entity.dismember.FindPasswordRecord" useGeneratedKeys="true" keyProperty="findPasswordRecord.id" keyColumn="id">
    insert into t_dis_findpassword_record (email, key,timeout,decode)
    values (
         #{findPasswordRecord.email}, 
         #{findPasswordRecord.key}, 
         #{findPasswordRecord.timeout}, 
         #{findPasswordRecord.decode}
         )
  </insert>
  <select id="getRecordByEmailAndKey" resultMap="BaseResultMap">
      select * from t_dis_findpassword_record where 1=1
      <if test="email != null and email != ''">
	      and email = #{email}       
      </if>
      <if test="decode != null and decode != ''">
      	  and decode = #{decode} 
      </if>
      and create_time >= (now()-interval '2 hour')
  </select>
  <select id="getAllRcordForToday" resultMap="BaseResultMap">
      <![CDATA[select * from t_dis_findpassword_record where create_time >= to_timestamp(#{now}, 'YYYY-MM-DD HH24:MI:SS') and create_time < (to_timestamp(#{now}, 'YYYY-MM-DD HH24:MI:SS')+interval '1 day') and email=#{email}]]>
  </select>
</mapper>