<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.dismember.OrderConfigMapper" >
  <resultMap id="BaseResultMap" type="entity.dismember.OrderConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="response_type" property="responseType" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="scope" property="scope" jdbcType="VARCHAR" />
    <result column="view" property="view" jdbcType="VARCHAR" />
    <result column="grant_type" property="grantType" jdbcType="VARCHAR" />
    <result column="config_type" property="configType" jdbcType="VARCHAR" />
    <result column="sever_url" property="severUrl" jdbcType="VARCHAR" />
    <result column="token_url" property="tokenUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, response_type, state, scope, view, grant_type, config_type, sever_url, token_url, 
    type
  </sql>
  <select id="select" resultMap="BaseResultMap" parameterType="entity.dismember.OrderConfig" >
    select 
    <include refid="Base_Column_List" />
    from t_order_config
    where type = #{type,jdbcType=INTEGER} and config_type = #{configType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.dismember.OrderConfig" >
    insert into t_order_config (id, response_type, state, 
      scope, view, grant_type, 
      config_type, sever_url, token_url, 
      type)
    values (#{id,jdbcType=INTEGER}, #{responseType,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, 
      #{scope,jdbcType=VARCHAR}, #{view,jdbcType=VARCHAR}, #{grantType,jdbcType=VARCHAR}, 
      #{configType,jdbcType=VARCHAR}, #{severUrl,jdbcType=VARCHAR}, #{tokenUrl,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="entity.dismember.OrderConfig" >
    insert into t_order_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="responseType != null" >
        response_type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="scope != null" >
        scope,
      </if>
      <if test="view != null" >
        view,
      </if>
      <if test="grantType != null" >
        grant_type,
      </if>
      <if test="configType != null" >
        config_type,
      </if>
      <if test="severUrl != null" >
        sever_url,
      </if>
      <if test="tokenUrl != null" >
        token_url,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="responseType != null" >
        #{responseType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="view != null" >
        #{view,jdbcType=VARCHAR},
      </if>
      <if test="grantType != null" >
        #{grantType,jdbcType=VARCHAR},
      </if>
      <if test="configType != null" >
        #{configType,jdbcType=VARCHAR},
      </if>
      <if test="severUrl != null" >
        #{severUrl,jdbcType=VARCHAR},
      </if>
      <if test="tokenUrl != null" >
        #{tokenUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.dismember.OrderConfig" >
    update t_order_config
    <set >
      <if test="responseType != null" >
        response_type = #{responseType,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="scope != null" >
        scope = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="view != null" >
        view = #{view,jdbcType=VARCHAR},
      </if>
      <if test="grantType != null" >
        grant_type = #{grantType,jdbcType=VARCHAR},
      </if>
      <if test="configType != null" >
        config_type = #{configType,jdbcType=VARCHAR},
      </if>
      <if test="severUrl != null" >
        sever_url = #{severUrl,jdbcType=VARCHAR},
      </if>
      <if test="tokenUrl != null" >
        token_url = #{tokenUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.dismember.OrderConfig" >
    update t_order_config
    set response_type = #{responseType,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      scope = #{scope,jdbcType=VARCHAR},
      view = #{view,jdbcType=VARCHAR},
      grant_type = #{grantType,jdbcType=VARCHAR},
      config_type = #{configType,jdbcType=VARCHAR},
      sever_url = #{severUrl,jdbcType=VARCHAR},
      token_url = #{tokenUrl,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>