<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.product_inventory.ProductMicroInventoryOrderLockMapper" >
  <resultMap id="BaseResultMap" type="entity.product_inventory.ProductMicroInventoryOrderLock" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="stock_locked" property="stockLocked" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="warehouse_name" property="warehouseName" jdbcType="VARCHAR" />
    <result column="is_effective" property="isEffective" jdbcType="SMALLINT" />
    <result column="container_number" property="containerNumber" jdbcType="VARCHAR" />
    <result column="storage_location" property="storageLocation" jdbcType="VARCHAR" />
    <result column="expiration_date" property="expirationDate" jdbcType="DATE" />
    <result column="purchase_price" property="purchasePrice" jdbcType="REAL" />
    <result column="is_gift" property="isGift" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />


    <result column="capfee" property="capfee" jdbcType="REAL" />
    <result column="micro_inrecord_id" property="microInRecordId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no,account, sku, stock_locked, warehouse_id, warehouse_name, is_effective, container_number, 
    storage_location, expiration_date, create_time, update_time, purchase_price, is_gift,capfee, micro_inrecord_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from public.t_product_micro_inventory_order_lock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectListsByParams" resultMap="BaseResultMap" parameterType="entity.product_inventory.ProductMicroInventoryOrderLock">
  	select 
    <include refid="Base_Column_List" />
   	from public.t_product_micro_inventory_order_lock
  	<where>
  	  <if test="id != null" >
        and id = #{id,jdbcType=INTEGER}
      </if>
  	  <if test="orderNo != null" >
        and order_no = #{orderNo,jdbcType=VARCHAR}
      </if>
      <if test="sku != null" >
        and sku = #{sku,jdbcType=VARCHAR}
      </if>
      <if test="account != null" >
        and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="stockLocked != null" >
        and stock_locked = #{stockLocked,jdbcType=INTEGER}
      </if>
      <if test="warehouseId != null" >
        and warehouse_id = #{warehouseId,jdbcType=INTEGER}
      </if>
      <if test="warehouseName != null" >
        and warehouse_name = #{warehouseName,jdbcType=VARCHAR}
      </if>
      <if test="isEffective != null" >
        and is_effective = #{isEffective,jdbcType=SMALLINT}
      </if>
      <if test="containerNumber != null" >
        and container_number = #{containerNumber,jdbcType=VARCHAR}
      </if>
      <if test="storageLocation != null" >
        and storage_location = #{storageLocation,jdbcType=VARCHAR}
      </if>
      <if test="expirationDate != null" >
        and expiration_date = #{expirationDate,jdbcType=DATE}
      </if>
      <if test="purchasePrice != null" >
        and purchase_price = #{purchasePrice,jdbcType=REAL}
      </if>
      <if test="isGift != null" >
        and is_gift = #{isGift,jdbcType=SMALLINT}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="microInRecordId != null" >
        and micro_inrecord_id = #{microInRecordId,jdbcType=INTEGER}
      </if>
  	</where>
  </select>
  <select id="selectByMicroDetail" resultMap="BaseResultMap" parameterType="entity.product_inventory.ProductMicroInventoryDetail">
  	select 
    <include refid="Base_Column_List" />
    from public.t_product_micro_inventory_order_lock
    <where>
    is_effective=1
      <if test="sku != null" >
        and sku = #{sku,jdbcType=VARCHAR}
      </if>
      <if test="account !=null">
      	and account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="warehouseId != null" >
        and warehouse_id = #{warehouseId,jdbcType=INTEGER}
      </if>
      <if test="warehouseName != null" >
        and warehouse_name = #{warehouseName,jdbcType=VARCHAR}
      </if>
      <if test="containerNumber != null" >
        and container_number = #{containerNumber,jdbcType=VARCHAR}
      </if>
      <if test="storageLocation != null" >
        and storage_location = #{storageLocation,jdbcType=VARCHAR}
      </if>
      <if test="purchasePrice != null" >
        and purchase_price = #{purchasePrice,jdbcType=REAL}
      </if>
      <if test="isGift != null" >
        and is_gift = #{isGift,jdbcType=SMALLINT}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from public.t_product_micro_inventory_order_lock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.product_inventory.ProductMicroInventoryOrderLock" >
    insert into public.t_product_micro_inventory_order_lock (id, order_no, sku, 
      stock_locked, warehouse_id, warehouse_name, 
      is_effective, container_number, storage_location, 
      expiration_date, create_time, update_time,account, purchase_price, 
      is_gift
      )
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{sku,jdbcType=VARCHAR}, 
      #{stockLocked,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER}, #{warehouseName,jdbcType=VARCHAR}, 
      #{isEffective,jdbcType=SMALLINT}, #{containerNumber,jdbcType=VARCHAR}, #{storageLocation,jdbcType=VARCHAR}, 
      #{expirationDate,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{account,jdbcType=VARCHAR},  #{purchasePrice,jdbcType=REAL}, 
      #{isGift,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.product_inventory.ProductMicroInventoryOrderLock" >
    insert into public.t_product_micro_inventory_order_lock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
       <if test="account != null" >
        account,
      </if>
      <if test="sku != null" >
        sku,
      </if>
      <if test="stockLocked != null" >
        stock_locked,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="warehouseName != null" >
        warehouse_name,
      </if>
      <if test="isEffective != null" >
        is_effective,
      </if>
      <if test="containerNumber != null" >
        container_number,
      </if>
      <if test="storageLocation != null" >
        storage_location,
      </if>
      <if test="expirationDate != null" >
        expiration_date,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="isGift != null" >
        is_gift,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>

      <if test="capfee != null">
        capfee,
      </if>
      <if test="microInRecordId != null">
        micro_inrecord_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="stockLocked != null" >
        #{stockLocked,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="warehouseName != null" >
        #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        #{isEffective,jdbcType=SMALLINT},
      </if>
      <if test="containerNumber != null" >
        #{containerNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageLocation != null" >
        #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null" >
        #{expirationDate,jdbcType=DATE},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=REAL},
      </if>
      <if test="isGift != null" >
        #{isGift,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>

      <if test="capfee !=null">
        #{capfee,jdbcType=REAL},
      </if>

      <if test="microInRecordId  !=null">
        #{microInRecordId, jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.product_inventory.ProductMicroInventoryOrderLock" >
    update public.t_product_micro_inventory_order_lock
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="sku != null" >
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="stockLocked != null" >
        stock_locked = #{stockLocked,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="warehouseName != null" >
        warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      </if>
      <if test="isEffective != null" >
        is_effective = #{isEffective,jdbcType=SMALLINT},
      </if>
      <if test="containerNumber != null" >
        container_number = #{containerNumber,jdbcType=VARCHAR},
      </if>
      <if test="storageLocation != null" >
        storage_location = #{storageLocation,jdbcType=VARCHAR},
      </if>
      <if test="expirationDate != null" >
        expiration_date = #{expirationDate,jdbcType=DATE},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=REAL},
      </if>
      <if test="isGift != null" >
        is_gift = #{isGift,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.product_inventory.ProductMicroInventoryOrderLock" >
    update public.t_product_micro_inventory_order_lock
    set order_no = #{orderNo,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      stock_locked = #{stockLocked,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER},
      warehouse_name = #{warehouseName,jdbcType=VARCHAR},
      is_effective = #{isEffective,jdbcType=SMALLINT},
      container_number = #{containerNumber,jdbcType=VARCHAR},
      storage_location = #{storageLocation,jdbcType=VARCHAR},
      expiration_date = #{expirationDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      account = #{account,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=REAL},
      is_gift = #{isGift,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="query" resultMap="BaseResultMap" parameterType="dto.product_inventory.ProductMicroInventoryOrderLockDto">
    select
    <include refid="Base_Column_List" />
    from public.t_product_micro_inventory_order_lock
    <where>
      1=1
      <if test="sku != null" >
        and sku = #{sku,jdbcType=VARCHAR}
      </if>
      <if test="warehouseId != null" >
        and warehouse_id = #{warehouseId,jdbcType=VARCHAR}
      </if>

      <if test="account != null">
        and account = #{account,jdbcType=VARCHAR}
      </if>

      <if test="isEffective != null">
        and is_effective = #{isEffective, jdbcType=INTEGER}
      </if>

      <if test="isGift != null">
        and is_gift = #{isGift, jdbcType=INTEGER}
      </if>

      <if test="microInRecordId != null">
        and micro_inrecord_id = #{microInRecordId, jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>