@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {margin:0; padding:0;}
body {font-size:14px; color:#555; background: #fff; font-family:Verdana, Microsoft YaHei, Simsun;}
fieldset, img {border:0;}
ol, ul {list-style:none;}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal;}
em {font-style:normal;}
table { border-collapse:collapse; border-spacing:0; }
input,select, textarea {outline:none;background: #fff;}
button{outline:none;background: #fff;}
textarea {resize:none;}
button,a,label{cursor: pointer;}

$linkColor: #999 #555 #1480e3 #b2daff!default;
a{
  text-decoration:none;
  color:nth($linkColor,2);
  &:hover{
    text-decoration:none;
    color:nth($linkColor,3);
  }
}

.layui-laypage .layui-laypage-total{
  background: none;
}
.layui-laypage button {
  background: #1480e3;
  color: #fff;
  border: 1px solid #1480e3;
}

#pageLay{
  text-align: center;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.zoomDiv{
  width: 398px!important;
  height: 398px!important;
  top: 0!important;
  left: 410px!important;
  z-index: 10!important;
}

#defaultImg>a>img{
  width: 398px!important;
  height: 398px!important;
}