<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="email=no" name="format-detection"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>添加正价商品</title>
    <link rel="stylesheet" type="text/css" href="../../css/main/main.css">
</head>
<body id="body_ele" v-cloak>
<header class="posFix head">
    <a href="step_1.html" class="ret-logo"></a>
    添加正价商品
    <a href="searchGoods.html?ii={{inputId}}&type=pro&sc={{searchCondtionOrg}}" class="search-logo"></a>
</header>
<div class="conTop">
    <div class="list-box">
        <ul class="list ui-row-flex">
            <li @click="selectCategory('all')"><span id="categorySpan_all" class="current">全部</span></li>
            <li v-for="category in categories" @click="selectCategory(category.iid)">
                <span id="categorySpan_{{category.iid}}" categoryId="{{category.iid}}">{{category.cname}}</span>
            </li>
        </ul>
    </div>
</div>

<section class="imporCon">
    <div class="impornor">
        <select v-model="warehouseId">
            <option selected value="">默认所有仓库</option>
            <option v-for="warehouse in warehouses" value="{{warehouse.warehouseId}}">{{warehouse.warehouseName}}</option>
        </select>
    </div>
    <div id="products_div" v-if="showProducts" style="margin-bottom: 30px;">
        <div class="impornor" v-if="canSelectAll">
            <label><input type="checkbox" v-model="selectAllChecked" class="mui-checkbox"/>全选搜索结果下的商品</label>
        </div>
        <div class="imporCom" v-for="product in products">
            <div class="imporComL">
                <!--
                <input type="checkbox" v-model="selectedProducts" checked="{{product.csku | filterChecked product.warehouseId}}"
                       value="{{product.csku}}:{{product.warehouseId}}:{{product.batchNumber}}" class="mui-checkbox"/>
                       -->
                <input type="checkbox" v-model="selectedProducts"
                       value="{{product.csku}}:{{product.warehouseId}}:{{product.batchNumber}}" class="mui-checkbox"/>
            </div>
            <div class="imporComR">
                <div class="impor-img">
                    <a><img v-bind:data-original='product.imageUrl' src="../../img/blank.png" alt="{{product.ctitle}}" class="p-goods-img"/></a>
                </div>
                <div class="impor-tit">
                    <h5>{{product.ctitle}}</h5>
                    <div>
                        <!--分销商模式(1,电商electricityPrices 2，经销商distributorPrice 3 ,商超supermarketPrice 4，进口专营)-->
                        <span>
                            采购价：
                            <b>
                                <i>¥</i>
                                {{product.isSpecial ? product.specialSale : disMode==1 ? product.electricityPrices : disMode==2 ? product.distributorPrice : disMode==3 ? product.supermarketPrice : product.ftzPrice}}
                            </b>
                        </span>
                        <span>库存：<b class="impor-tit2">{{product.stock}}</b></span>
                    </div>
                    <div>
                        <span>商品编号：<b class="impor-tit2">{{product.csku}}</b></span>
                        <span>仓库：<b class="impor-tit2">{{product.warehouseName}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="imporSear" v-else>
        该搜索条件下无可选商品
    </div>
</section>
<footer class="foot">
    <a>
        <input @click="goStep3" type="button" value="保存并添加赠品" class="inp-1 btn-blue"/>
    </a>
</footer>
<script src="/js/lib/require.js" data-main="/js/purchaseorder/typein/addProducts.js?time=(new Date()).getTime()"></script>
</body>
</html>