<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.payment.shengpay.ShengAccountBalanceMapper" >
  <resultMap id="BaseResultMap" type="entity.payment.shengpay.ShengAccountBalance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="total_balance" property="totalBalance" jdbcType="VARCHAR" />
    <result column="available_balance" property="availableBalance" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="tdate" property="tdate" jdbcType="VARCHAR" />
    <result column="json_string" property="jsonString" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, merchant_no, total_balance, available_balance, status, tdate, json_string, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sheng_account_balance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sheng_account_balance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.payment.shengpay.ShengAccountBalance" >
    insert into t_sheng_account_balance (id, merchant_no, total_balance, 
      available_balance, status, tdate, 
      json_string, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{merchantNo,jdbcType=VARCHAR}, #{totalBalance,jdbcType=VARCHAR}, 
      #{availableBalance,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{tdate,jdbcType=VARCHAR}, 
      #{jsonString,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.payment.shengpay.ShengAccountBalance" >
    insert into t_sheng_account_balance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantNo != null" >
        merchant_no,
      </if>
      <if test="totalBalance != null" >
        total_balance,
      </if>
      <if test="availableBalance != null" >
        available_balance,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tdate != null" >
        tdate,
      </if>
      <if test="jsonString != null" >
        json_string,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="totalBalance != null" >
        #{totalBalance,jdbcType=VARCHAR},
      </if>
      <if test="availableBalance != null" >
        #{availableBalance,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tdate != null" >
        #{tdate,jdbcType=VARCHAR},
      </if>
      <if test="jsonString != null" >
        #{jsonString,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.payment.shengpay.ShengAccountBalance" >
    update t_sheng_account_balance
    <set >
      <if test="merchantNo != null" >
        merchant_no = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="totalBalance != null" >
        total_balance = #{totalBalance,jdbcType=VARCHAR},
      </if>
      <if test="availableBalance != null" >
        available_balance = #{availableBalance,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tdate != null" >
        tdate = #{tdate,jdbcType=VARCHAR},
      </if>
      <if test="jsonString != null" >
        json_string = #{jsonString,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.payment.shengpay.ShengAccountBalance" >
    update t_sheng_account_balance
    set merchant_no = #{merchantNo,jdbcType=VARCHAR},
      total_balance = #{totalBalance,jdbcType=VARCHAR},
      available_balance = #{availableBalance,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      tdate = #{tdate,jdbcType=VARCHAR},
      json_string = #{jsonString,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getBalanceByCondition" resultMap="BaseResultMap" parameterType="entity.payment.shengpay.ShengAccountBalance" >
    select
    <include refid="Base_Column_List" />
    from t_sheng_account_balance
    where 1 = 1
    <if test="merchantNo != null" >
      and merchant_no = #{merchantNo,jdbcType=VARCHAR}
    </if>
    limit 1 offset 0
  </select>
</mapper>