<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.product.store.BbcErpMappingMapper" >
  <resultMap id="BaseResultMap" type="entity.product.store.BbcErpMapping" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bbc_attr_id" property="bbcAttrId" jdbcType="INTEGER" />
    <result column="erp_attr_id" property="erpAttrId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bbc_attr_id, erp_attr_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_bbcattr_erpattr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_bbcattr_erpattr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.product.store.BbcErpMapping" >
    insert into t_bbcattr_erpattr (id, bbc_attr_id, erp_attr_id
      )
    values (#{id,jdbcType=INTEGER}, #{bbcAttrId,jdbcType=INTEGER}, #{erpAttrId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.product.store.BbcErpMapping" >
    insert into t_bbcattr_erpattr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="bbcAttrId != null" >
        bbc_attr_id,
      </if>
      <if test="erpAttrId != null" >
        erp_attr_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bbcAttrId != null" >
        #{bbcAttrId,jdbcType=INTEGER},
      </if>
      <if test="erpAttrId != null" >
        #{erpAttrId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.product.store.BbcErpMapping" >
    update t_bbcattr_erpattr
    <set >
      <if test="bbcAttrId != null" >
        bbc_attr_id = #{bbcAttrId,jdbcType=INTEGER},
      </if>
      <if test="erpAttrId != null" >
        erp_attr_id = #{erpAttrId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.product.store.BbcErpMapping" >
    update t_bbcattr_erpattr
    set bbc_attr_id = #{bbcAttrId,jdbcType=INTEGER},
      erp_attr_id = #{erpAttrId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>