<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.marketing.promotion.PromotionConditionMapper" >
  <resultMap id="BaseResultMap" type="entity.marketing.promotion.PromotionCondition" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="attr" property="attr" jdbcType="SMALLINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BOOLEAN" />
    <result column="c_type" property="cType" jdbcType="INTEGER" />
    <result column="has_ext_condt" property="hasExtCondt" jdbcType="BOOLEAN" />
  </resultMap>
  
  <update id="deleteSoftlyByPrimaryKey">
  	update t_pro_condt set is_delete=true where where id = #{id,jdbcType=INTEGER}
  </update>
  
  <sql id="Base_Column_List">
    id, name, attr, remark, is_delete, c_type, has_ext_condt
  </sql>
  
  <select id="getProCondtListByAttr" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
    from t_pro_condt
    where is_delete = #{isDelete} and attr=#{attr}
  </select>
  
  <select id="selectByIdList" resultMap="BaseResultMap" parameterType="java.util.List">
  	select 
    <include refid="Base_Column_List" />
    from t_pro_condt
    <where>
    	<if test="idList!=null and idList.size>0">
    		id in
    		<foreach collection="idList" item="id" open="(" separator="," close=")">
		      #{id}
		    </foreach>
    	</if>
    </where>
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_pro_condt
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insert" parameterType="entity.marketing.promotion.PromotionCondition" >
    insert into t_pro_condt (id, name, attr,  remark, is_delete, c_type)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{attr,jdbcType=SMALLINT}, 
      #{remark,jdbcType=VARCHAR}, #{isDelete}, #{cType})
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="entity.marketing.promotion.PromotionCondition" >
    update t_pro_condt
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="attr != null" >
        attr = #{attr,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>