<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.timer.InventorySyncRecordMapper" >
  <resultMap id="BaseResultMap" type="entity.timer.InventorySyncRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_active" property="isActive" jdbcType="INTEGER" />
    <result column="last_syncing_time" property="lastSyncingTime" jdbcType="TIMESTAMP" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="syncing_num" property="syncingNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_active, last_syncing_time, sku, warehouse_id, operator, syncing_num
  </sql>
  
  <select id="selectBySkuAndWarehouseId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_inventory_sync_record
    where sku = #{sku,jdbcType=VARCHAR}
    and warehouse_id = #{warehouseId,jdbcType=INTEGER}
  </select>
  
</mapper>