<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.purchase.PurchaseStockoutMapper">
	<resultMap id="BaseResultMap" type="entity.purchase.PurchaseStockout">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="purchase_order_no" property="purchaseOrderNo"
			jdbcType="VARCHAR" />
		<result column="json_str" property="jsonStr" jdbcType="VARCHAR" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id, purchase_order_no, json_str, create_date, status, last_update_date
	</sql>
	
	<update id="updateStatusById">
		update t_purchase_stockout
		set status = #{status}, last_update_date=now()
		where id = #{id}
	</update>
	
	<select id="selectStockout" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from t_purchase_stockout
		<where>
			<if test="purchaseOrderNo!=null and purchaseOrderNo!=''">
				purchase_order_no = #{purchaseOrderNo}
			</if>		
			<if test="status != null">
				and status = #{status}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="entity.purchase.PurchaseStockout" keyProperty="id" useGeneratedKeys="true">
		insert into t_purchase_stockout(purchase_order_no, status, json_str, create_date)
		values (#{purchaseOrderNo}, #{status}, #{jsonStr}, now())
	</insert>
	
</mapper>